/*import google font*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
/*import social media icon font*/
@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

* {
    font-family: 'Roboto', Arial, sans-serif;
    word-spacing: 1.6px;
    letter-spacing: 1px;
}

body {
    padding: 0;
    margin: 0;
    transition: 2s;
    background: #fff;

}

/*menu*/
nav {
  margin: 0;
  padding: 0;
  background: black;
}

.navbar-simple a {
    color: #fff;
    font-size: 22px;
    margin: auto 10px;
    font-weight: bold;
}
.navbar-simple a:hover {
    color: black;
    font-weight: bold;
}

.open {
    padding: 200px 0 0 0;
    transition: 0.5s;
}
.navbar-toggle {
    background: #fff;
}

.navbar-toggle span{
    background: black;
}
li a:visited{
  transition: 2s;
}

/*banner: text area*/
.banner {
  background-image: url(../images/background.png);
  width: 100%;
  height:600px;
  margin: 0;
  padding: 0;
  top:20px;
  display: flex;
  justify-content: center;

}
.bannertext {
  width: 100%;
align-self: center;
}

.bannertext h1{
  color: #fff;
  font-size: 70px;
  letter-spacing: 7px;
  font-weight: bold;
  text-align: center;
}

.bannertext p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}
/*social media icons*/
.smGlobalBtn {
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
    margin: 0 4px;
}
.mBtn {
  background: #E74C3C;
}
.mBtn:before {
  font-family: "FontAwesome";
  content: "\f003";
}
.mBtn:hover {
  color: #E74C3C;
  background: #fff;
}
.ghBtn {
  background: #767676;
}
.ghBtn:before {
  font-family: "FontAwesome";
  content: "\f09b";
}
.ghBtn:hover {
  color: #767676;
  background: #fff;
}

.lkBtn {
  background: #0094BC;
}

.lkBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
}
.lkBtn:hover {
  color: #0094BC;
  background: #fff;
}
/*sections*/
.section {
    text-align: center;
    margin: 40px auto;
    color: black;
    padding: 0;
}
.section i {
  margin-left: 5px;
}
.section h1 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 1px #616A6B;
    width: 50%;
    margin: 0 auto;
}

.section h3{
    font-weight: bold;
}
.col-md-4 img {
  max-width: 100%;
  max-height: 100%;
}
.col-md-4 .box {
  width: 100%;
  height: 200px;
  background: black;
  margin-top: 10px;
  color: #fff;
  overflow: visible;
}
.col-md-4 .box p {
}

#template1 {
  background-image: url('http://www.pitacho.com/img/biz1.png');
  background-position: center;
  background-size: 100%;
}
#template2 {
  background-image: url('http://www.pitacho.com/img/email1.png');
  background-position: center;
  background-size: 100%;
}
#template3 {
  background-image: url('http://www.pitacho.com/img/email2.png');
  background-position: center;
  background-size: 100%;
}
.boxcover {
  background-color: black;
  opacity: 0.7;
  z-index: 999;
  width: 100%;
  height: 100%
}
.box:hover .boxcover{
  top: -100%;
  transition: 2s;
}
.boxcover p {
  align-self: center;
  color: #fff;
}
.boxcover p a{
  text-decoration: none;
}
#contact p {
  margin-top: 20px;
}
/*footer*/
footer {
    width: 100%;
    height: 100px;
}


/*different devices*/
    @media only screen and (max-width: 320px) {
        /*text*/
        .intro h1 {
	font-size: 26px;
            line-height: 30px;
}
        .intro h3 {
	font-size: 16px;
            line-height: 20px;
}
        .smGlobalBtn{
             width: 30px;
  height: 30px;
            font-size: 15px;
            margin: 0 2px;
        }
        .section h1 {
            font-size: 24px;
        }
        .section h3{
    font-size: 18px;
            line-height: 26px;
}
    }
