/*import google font*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/*import social media icon font*/
@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');


/*PC View*/
* {
    font-family: 'Open Sans', Arial, sans-serif;
    word-spacing: 1.6px;
    letter-spacing: 1px;
}

body {
    padding: 0;
    transition: 0.5s;
}

/*Site Container*/
.container-fluid {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
}


/*menu*/
#logo {
  height: 100%;
  width: 100px;
  background-image: url('http://www.pitacho.com/images/logo.png');
  background-size: 60%;
  background-repeat: no-repeat;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 15%;

}
#bs-example-navbar-collapse-1 {
  max-height: 100%;
}

#menutab {
  float: right;
  height: 100%;
  margin-right: 100px;
}

ul li {
  height: 100%;
  margin: 20px;
}
#menutab a {
  height: 100%;
  padding-top: 50px;
}
.navbar-simple a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
}

.navbar-simple h3:hover {
  color: white;
}
.open {
    padding: 150px 0 0 0;
    transition: 0.5s;
}
.navbar-toggle {
    background: #fff;
}
.navbar-toggle:checked {
  transition: 2s;
}
.navbar-toggle span{
    background: black;
}
li a:visited{
  transition: 2s;
  background: white;

}

/*banner: text area*/

canvas {
  width: 100%;
  height:200px;
  margin: 0;
  padding: 0;
}

.bannertext {
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
  align-self: center;
  overflow: hidden;
  position: relative;
}
.text {
  position: absolute;
  left: 0;
  right:0;
  top:40%;

  vertical-align:
}
.text h1{
  color: #fff;
  font-size: 70px;
  letter-spacing: 7px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.text p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  vertical-align: middle;
}

/*project page*/
#bs-example-navbar-collapse-2 a{
  color: black;
}

.content {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.banner {
  background-color: #CDE591;
  width: 100%;
  height: 100px;
}

.row{
  background-color: #F1BB88;
  display: block;
  width: 100%;
  height: 15%;
}

.col-md-4 {
  background-color: #8895F1 ;
  display: block;

}

.col-md-8 {
  background-color: #F188DB ;
  display: block;
}

/*footer*/
footer {
    width: 100%;
    height: 100px;
}


/*Mobile View*/
@media screen and (max-width: 320px) {
    nav {
        margin: 0;
        padding: 0;
        height: 8%;
      }
      #logo {
        display: none;
      }
      #menutab {
        width: 200px;
        margin: 0 auto;
        float: none;
      }
      #menutab a {
        color: black;
      }
      ul li {
        margin: 0 auto;
        padding: 0;
      }
      ul li h3{
        margin: 10px auto;
      }
      .text {
        top: 30%;
      }
    }
